<% include ../head %>

<main class="Home">
  <a class="btn-hulk" href="/start">
    <span class="u-centerBlock">Start Game</span>
  </a>
  <a class="btn-hulk" href="/join">
    <span class="u-centerBlock">Join Game</span>
  </a>
</main>

<% include ../footer %>
