<% include ../head %>

<main class="u-Flex u-Flex-1 Home">
  <a class="u-Flex u-Flex-1 u-Flex--Align-Center u-Hulk" href="/start">
    <span class="u-centerBlock">Start Game</span>
  </a>
  <a class="u-Flex u-Flex-1 u-Flex--Align-Center u-Hulk" href="/join">
    <span class="u-centerBlock">Join Game</span>
  </a>
</main>
