<% include ../head %>

<div class="u-Flex u-Flex-1">
  <a class="u-Flex-1 text-center h2 u-marginAn" href="/start">Start Game</a>
  <a class="u-Flex-1 text-center h2 u-marginAn" href="/join">Join Game</a>
</div>
