<% include ../head %>

<p class="h2 text-center">What do you want?</p>

<div class="grid">
  <div class="grid__cell grid--center unit-3-6">
    <a class="btn" href="/start">Start Game</a>
  </div>
  <div class="grid__cell grid--center unit-3-6">
    <a class="btn" href="/join">Join Game</a>
  </div>
</div>
