<% include ../head %>

<main class="container Home">
  <a class="container u-Hulk" href="/start">
    <span class="u-centerBlock">Start Game</span>
  </a>
  <a class="container u-Hulk" href="/join">
    <span class="u-centerBlock">Join Game</span>
  </a>
</main>

<% include ../footer %>
