<% include ../head %>

<main class="container Join">
  <h2>Join Game</h2>

  <form class="u-Flex u-marginHa" action="/play" method="POST">
    <input class="form-control" type="text" name="id" value="" placeholder="bkG4e30dE" autofocus>
    <input class="btn" type="submit" value="Play"/>
  </form>
</main>

<% include ../footer %>
