<% include ../head %>

<h1 class="text-center">Tic Tac Toe</h1>

<h2 class="text-center">Join Game</h2>

<form id="" class="grid grid--center" action="/play" method="get">
  <input class="form-control" type="text" name="" value="" placeholder="bkG4e30dE">
  <button class="btn" type="submit" name="">Play</button>
</form>
