<% include ../head %>

<main class="Play">
  <p id="js-status" class="h2">
    Hey <b id="js-name"><%= name %></b>! <br>
  </p>

  <p id="js-message" class="u-textCenter">
    Send the following code to your oponent: <b><%= id %></b> <br>
    <small>(or just share your url)</small>
  </p>

  <div id="js-board" class="board"></div>
</main>

<% include ../footer %>
