<% include ../head %>

<main class="u-Flex u-Flex-1 u-Flex--Column Play">
  <p id="js-status" class="h2">
    Hey <b id="js-name"><%= name %></b>! <br>
  </p>
  
  <p id="js-message" class="u-textCenter">
    Send the following code to your oponent: <b><%= id %></b> <br>
    <small>(or just share your url)</small>
  </p>

  <div id="js-board" class="board"></div>
</main>

<!-- build:js /scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /scripts/main.js -->
<script src="/scripts/utils.js"></script>
<script src="/scripts/game.js"></script>
<!-- endbuild -->
