@import "config";

html {
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, .h1 {
  font-size: 3.5em;
  font-family: Shadows Into Light, cursive;
  font-weight: normal;
  line-height: $base-line-height;
  margin: 0.5em 0;
  text-align: center;
}

h2, .h2 {
  font-size: 1.5em;
  font-family: Shadows Into Light, cursive;
  font-weight: normal;
  line-height: $base-line-height;
  margin: 0.5em 0;
  text-align: center;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    outline: none;
  }
}

.highlight {
  color: $highlight-color;
}

p:empty {
  display: none;
}

.u-textCenter {
  text-align: center;
}

.u-italic {
  font-style: italic;
}
