<p class="u-textCenter u-italic">
  <small>A game by <a href="http://adiaz.uy" class="highlight">Agustín Díaz</a></small>
</p>

<!-- build:js /scripts/vendor.js -->
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/main.js -->
<script src="/scripts/utils.js"></script>
<script src="/scripts/game.js"></script>
<script src="/scripts/sharing.js"></script>
<!-- endbuild -->
