<!doctype html>
<meta charset="utf-8">

<title>Tic Tac Toe</title>

<meta name="description" content="Simple game of Tic Tac Toe">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- build:css(.tmp) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
