<% include head %>

<h1 class="text-center">Tic Tac Toe</h1>

<p class="h2 text-center">What do you want?</p>

<div class="grid">
  <div class="grid__cell grid--center unit-3-6">
    <a href="/start">Start Game</a>
  </div>
  <div class="grid__cell grid--center unit-3-6">
    <a href="/join">Join Game</a>
  </div>
</div>
