@import "colors";
// Base
$primary-color: $black;
$background-color: $white;

// Text Colors
$text-color: $black;
$highlight-color: $blue;

$link-color: $black;
$link-color-hover: $purple;

// Text Sizes
$base-font-size: 1.15em;
$base-line-height: 1.5em;
